<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free movie catalogue for you" />
    <meta name="theme-color" content="#007F73"/>

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./app.webmanifest">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <title>Katalog Restoran</title>
  </head>
  <body>
    <!-- ini untuk skip content -->
    <a href="#mainContent" class="skip-link">Skip to kontent</a>

    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__title">
        <h1><a href="">Indonesia Resto</a></h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/Home">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://github.com/GunawanRohadi">About Us</a></li>
        </ul>
      </nav>
    </header>

    <!-- jubroton -->
    <div id="jumbroton" class="jumbroton">
      <div class="jumbroton-inner">
        <h1 class="jumbroton-titel">Indonesia Culture</h1>
        <p class="jumbroton-description">
          Tradisi yang berakar kuat & Kulinari yang lezat dan unik
        </p>
      </div>
    </div>

    <!-- main content -->
    <main id="mainContent" tabindex="0"></main>

    <!-- footer -->
    <footer>
      <p>Copyright © 2020 - Indonesia Resto</p>
    </footer>
  </body>
</html>
